[Unit]
Description=Sync OneDrive files to local folder
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone sync onedrive:/ %h/OneDrive --progress --log-file=%h/.config/rclone/onedrive-sync.log
ExecStartPost=/usr/bin/touch %h/.config/rclone/onedrive-last-sync
RemainAfterExit=yes

[Install]
WantedBy=default.target

