[Unit]
Description=Two-way sync for OneDrive with rclone bisync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=infinity
ExecStart=/usr/bin/flock -n /run/user/%U/onedrive-bisync.lock /usr/bin/rclone bisync onedrive:/ /home/aidan/OneDrive.local --cache-dir=/home/aidan/.cache/rclone --log-file=/home/aidan/.config/rclone/onedrive-bisync.log --filter-from=/home/aidan/.config/rclone/onedrive-bisync.filter
ExecStartPost=/usr/bin/touch /home/aidan/.config/rclone/onedrive-last-sync
RemainAfterExit=no

[Install]
WantedBy=timers.target


